
/* Custom styles for Confluence (included for all themes by default) */

#main-content li {
  font-size: 15px;
  padding-bottom: 5px;
  line-height: 1.6em;
}

.wiki-content h1, .wiki-content h2 { font-weight: 600;}

/* End custom styles for Confluence */


